@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #8e44ad;
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
}

.counter__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1.875rem 3.125rem;
}

.counter {
  font-size: 3.75rem;
  margin-top: 0.625rem;
}

@media (max-width: 36.25rem) {
  body {
    flex-direction: column;
  }
}
